.Button {
    background-color: #6374ae;
    padding: 0.75rem 1.5rem;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.75rem;
    transition: all 250ms ease-in-out;

    &:hover {
        color: white;
        cursor: pointer;
        background-color: #4d5f9c;
    }
}
